<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.GroupMapper">
  <select id="feedCommentDelete" parameterType="hashmap">
   DELETE FROM p_feed_comment WHERE 
   <if test="group_step==0">
    group_id=#{group_id}
   </if>
   <if test="group_step!=0">
    no=#{no}
   </if>
  </select>
</mapper>