// ----------------------------------------------
// Add Custom Button Style
// ----------------------------------------------

.btn-black{
  width: 100%;
  background: #333333;
  color: #ffffff;
  padding: 8px;
  border-radius: 50px;
}