.chat-wrapper {
  $chat-header-height: 50px;
  $chat-body-padding: 12px;
  $chat-input-height: 66px;
  $chat-left-bar-height: 64px;
  $chat-side-width: 240px;
  $chat-bg-primary: #ffffff;
  $chat-bg-secondary: $light-gray;
  $chat-bg-dark: #e1e7ed;
  height:100vh;

  @include transition($btn-transition);

  .group-list {
    background-color: $chat-bg-secondary;

    ul {
      width: $chat-left-bar-height;
      height: calc(100vh - 66px);

      li {
        margin-bottom: 12px;
      }
    }

    #groupdrop {
      border: none;
      width: 100%;
      padding: 12px;
      font-size: 0;
      background-color: transparent;

      iconify-icon {
        color: var(--bs-body-color);
      }
    }
  }

  .group-header {
    height:$chat-header-height;
    box-shadow: 0 -4px 18px 11px rgba(0, 0, 0, 0.04);
    position: relative;
    z-index: 1;

    .group-title {
      line-height:$chat-header-height;
      text-align: center;
    }

  }

  .group-room {
    overflow: hidden;

    .group-main {
      .group-chat {
        .chat-body {
          height: calc(100vh - #{$chat-header-height} - #{$chat-input-height});
          padding: $chat-body-padding;

          .msg {
            gap: 0.6em;
            align-items: flex-start;
            padding: 0.5em;

            &:hover {
              background-color: $light;
            }

            .user-profile {
              margin-top: 0.3em;
            }

            .msg-body {
              .user-info {
                span {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 0.9em;

                  &:not(:last-child):after {
                    content:"·";
                    display: inline-block;
                    padding: 0 2px;
                  }
                }
              }

              .msg-content {
                color:$dark
              }
            }
          }
        }
      }
      .chat-input-wrapper {
        height: $chat-input-height;
        padding: 8px;

        .chat-input-box {
          height: $chat-header-height;
          background-color: $chat-bg-dark;
          border-radius: $chat-header-height;

          input, button {
            background-color: transparent;
            border:none
          }

          input {
            padding: 0 10px 0 18px;
          }
        }
      }
    }
  }


  .group-side {
    width: $chat-side-width;
    overflow: hidden;

    .search-wrap {
      background-color: $chat-bg-dark;
      border-radius: $chat-header-height;
      padding: 0 10px;

      .search-input {
        background-color: transparent;
        border:none;
      }
    }



    .group-submenu {
      height: calc(100vh - #{$chat-header-height});
      background-color: $chat-bg-secondary;

      ul, p {
        margin-bottom: 0;
      }

      .accordion {

        .accordion-item {
          background-color: transparent;
          padding-bottom: 8px;
        }

        .accordion-button {
          padding: 0.5em 0.1em;
          box-shadow: none;
          background-color: transparent;

        }

        .accordion-collapse {
          .user-profile {
            display: flex;
            gap: 8px;
            align-items: center;
            padding: 6px 10px;
          }

          &#offlineUl li {
            opacity: 0.6;
          }

        }
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      background-color: $chat-bg-dark;
      border-radius: 16px;

      .dropdown-item {
        border:none;
        background-color: transparent;
        display: block;
        font-size: 0.9em;
        padding: 4px 8px;
      }
    }
  }
}