.filter-container{
  top:14px;
  z-index: 1;
  transition:.3s ease-out;
}
.cpsbtn,.resetbtn{
  background-color:#ffffff!important;
}
#filter,.slimScrollDiv{
  max-height: calc(-188px + 100vh)!important;
}
.slimScrollDiv{
  margin-top:1rem;
}
button.cpsbtn {
  opacity: .7;
  border:1px solid #000000;
  border-radius:50px;
  padding: 4px 18px 4px 40px;
  background:no-repeat 12px / 24px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M17.8984 6.49317C17.5742 7.65092 16.5113 8.5 15.25 8.5C13.7312 8.5 12.5 7.26878 12.5 5.75C12.5 4.23122 13.7312 3 15.25 3C16.5113 3 17.5742 3.84908 17.8984 5.00683C17.9316 5.00233 17.9655 5 18 5L20 5C20.4142 5 20.75 5.33579 20.75 5.75C20.75 6.16421 20.4142 6.5 20 6.5L18 6.5C17.9655 6.5 17.9316 6.49767 17.8984 6.49317ZM16.5 5.75C16.5 6.44036 15.9404 7 15.25 7C14.5596 7 14 6.44036 14 5.75C14 5.05964 14.5596 4.5 15.25 4.5C15.9404 4.5 16.5 5.05964 16.5 5.75Z'%3E%3C/path%3E%3Cpath clip-rule='evenodd' d='M6.10167 12.7434C6.06904 12.7478 6.03576 12.75 6.00195 12.75H4.00195C3.58774 12.75 3.25195 12.4142 3.25195 12C3.25195 11.5858 3.58774 11.25 4.00195 11.25H6.00195C6.03576 11.25 6.06904 11.2522 6.10167 11.2566C6.42596 10.099 7.48883 9.25 8.75 9.25C10.2688 9.25 11.5 10.4812 11.5 12C11.5 13.5188 10.2688 14.75 8.75 14.75C7.48883 14.75 6.42596 13.901 6.10167 12.7434ZM7.5 12C7.5 11.3096 8.05964 10.75 8.75 10.75C9.44036 10.75 10 11.3096 10 12C10 12.6904 9.44036 13.25 8.75 13.25C8.05964 13.25 7.5 12.6904 7.5 12Z'%3E%3C/path%3E%3Cpath clip-rule='evenodd' d='M17.8984 18.9932C17.5742 20.1509 16.5113 21 15.25 21C13.7312 21 12.5 19.7688 12.5 18.25C12.5 16.7312 13.7312 15.5 15.25 15.5C16.5113 15.5 17.5742 16.3491 17.8984 17.5068C17.9316 17.5023 17.9655 17.5 18 17.5H20C20.4142 17.5 20.75 17.8358 20.75 18.25C20.75 18.6642 20.4142 19 20 19H18C17.9655 19 17.9316 18.9977 17.8984 18.9932ZM16.5 18.25C16.5 18.9404 15.9404 19.5 15.25 19.5C14.5596 19.5 14 18.9404 14 18.25C14 17.5596 14.5596 17 15.25 17C15.9404 17 16.5 17.5596 16.5 18.25Z'%3E%3C/path%3E%3Cpath d='M4 5C3.58579 5 3.25 5.33579 3.25 5.75C3.25 6.16421 3.58579 6.5 4 6.5H10C10.4142 6.5 10.75 6.16421 10.75 5.75C10.75 5.33579 10.4142 5 10 5H4Z'%3E%3C/path%3E%3Cpath d='M14.002 11.25C13.5877 11.25 13.252 11.5858 13.252 12C13.252 12.4142 13.5877 12.75 14.002 12.75H20.002C20.4162 12.75 20.752 12.4142 20.752 12C20.752 11.5858 20.4162 11.25 20.002 11.25H14.002Z'%3E%3C/path%3E%3Cpath d='M4 17.5C3.58579 17.5 3.25 17.8358 3.25 18.25C3.25 18.6642 3.58579 19 4 19H10C10.4142 19 10.75 18.6642 10.75 18.25C10.75 17.8358 10.4142 17.5 10 17.5H4Z'%3E%3C/path%3E%3C/svg%3E");
  transition:.3s;
  position:relative;
  line-height: 33px;
}
.active button.cpsbtn{
  opacity:1;
}
button.cpsbtn:after {
  content:'';
  display:block;
  width: 8px;
  height: 8px;
  background-color:#19d5bb;
  position:absolute;
  top: 6px;
  right: 9px;
  border-radius:50px;
  opacity:0;
  transition:.1s ease-out;
}
button.cpsbtn.active:after {
  opacity:1;
}
@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    display:block;
  }
}
@keyframes fadeOut {
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
    display:none;
  }
}

@media (max-width:991px){ /* mobile */
  .cpsbtn{
    z-index:2;
  }
  .active .resetbtn{
    z-index:1;
  }
  .filter-inner{
    overflow:hidden;
    animation: .3s ease-in 0s 1 normal forwards running fadeOut;
    -moz-animation: .3s ease-in 0s 1 normal forwards running fadeOut;
    -webkit-animation: .3s ease-in 0s 1 normal forwards running fadeOut;
  }
  .active .filter-inner{
    animation: .3s ease-in 0s 1 normal forwards running fadeIn;
    -moz-animation: .3s ease-in 0s 1 normal forwards running fadeIn;
    -webkit-animation: .3s ease-in 0s 1 normal forwards running fadeIn;
  }
  .active.filter-container{
    z-index:2;
  }
  button.resetbtn {
    animation: .3s ease-in 0s 1 normal forwards running fadeOut;
    -moz-animation: .3s ease-in 0s 1 normal forwards running fadeOut;
    -webkit-animation: .3s ease-in 0s 1 normal forwards running fadeOut;
  }
  .active .resetbtn{
    animation: .3s ease-in 0s 1 normal forwards running fadeIn;
    -moz-animation: .3s ease-in 0s 1 normal forwards running fadeIn;
    -webkit-animation: .3s ease-in 0s 1 normal forwards running fadeIn;
  }
}
.filter-wrap{
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 24px;
}
.filter-item{
  padding: 10px 0 16px;
}
.filter-wrap h6{
  margin-bottom: 14px;
}
button.resetbtn {
  border:1px solid #dddddd;
  padding-left:30px!important;
  font-size:14px;
  background: no-repeat 8px center / 16px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2174 4.25C7.79916 4.25 4.25 7.73754 4.25 12C4.25 16.2625 7.79916 19.75 12.2174 19.75C15.7585 19.75 18.7478 17.5056 19.7894 14.4186C19.9218 14.0261 20.3473 13.8153 20.7398 13.9477C21.1322 14.0801 21.3431 14.5056 21.2106 14.8981C19.963 18.596 16.401 21.25 12.2174 21.25C7.00667 21.25 2.75 17.1264 2.75 12C2.75 6.87362 7.00667 2.75 12.2174 2.75C14.7443 2.75 17.0438 3.71803 18.7439 5.29906L20.6465 3.39646C20.7895 3.25346 21.0045 3.21068 21.1914 3.28807C21.3782 3.36547 21.5 3.54778 21.5 3.75001V8.75001C21.5 9.02616 21.2762 9.25001 21 9.25001L16 9.25001C15.7978 9.25001 15.6155 9.12819 15.5381 8.94136C15.4607 8.75452 15.5035 8.53946 15.6465 8.39646L17.6824 6.36053C16.2575 5.05348 14.3359 4.25 12.2174 4.25Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E");
}
button.resetbtn:focus{
  box-shadow:none;
}

@media (min-width: 991px) {
  .resetbtn{
    display:block!important;
  }
  button.cpsbtn{
    opacity:1;
  }
}
.checkbtn-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;

  input[type=checkbox]{
    display:none;
  }

  input[type=checkbox]+label {
    padding: 8px 14px;
    border-radius: 50px;
    border: 1px solid var(--bs-body-color);
    color: var(--bs-body-color);
    background: #ffffff;
    text-align: center;
    transition: .3s;
    cursor:pointer;
    white-space: nowrap;
    font-size:14px;
  }

  input[type=checkbox]:checked+label {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #ffffff;
    font-weight: 600;
  }

}
.radio-wrap {
  input[type=radio] {
    width: 0;
    height: 0;

    &+label {
      position:relative;
      padding-left:26px;
      cursor:pointer;

      &:before {
        content:'';
        display:block;
        position:absolute;
        left:0;
        top:calc(50% - 10px);
        width:20px;
        height:20px;
        border:1px solid #919191;
        border-radius:50px;
        background-color:#ffffff;
        transition:.1s ease-out;
      }

      &:after {
        content:'';
        display:block;
        position:absolute;
        left: 3px;
        top:calc(50% - 7px);
        width:14px;
        height:14px;
        border-radius:50px;
        transition:.1s ease-out;
      }
    }

    &:checked+label {
      &:before {
        border-color:var(--bs-primary);
      }

      &:after {
        background-color:var(--bs-primary);
      }
    }
  }
}

