<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.groupchat.mapper.GroupChatMapper">
	<select id="selectLatestMessageByGroupNo" resultType="com.sist.web.groupchat.dto.GroupChatDTO" parameterType="hashmap">
		SELECT 
			gm.message_no, 
			gm.group_no, 
			gm.sender_no, 
			gm.content, 
			gm.message_type, 
			gm.sent_at, 
			gm.sender_nickname, 
			u.profile 
		FROM p_group_msg gm
		JOIN p_users u 
		ON gm.sender_no = u.user_no 
		WHERE gm.group_no = #{group_no}
		<if test="last_message_no != null">
			AND gm.message_no &lt; #{last_message_no}
		</if>
		ORDER BY gm.message_no DESC 
		FETCH FIRST 35 ROWS ONLY
	</select>
	<select id="selectMessagesByFilters" resultType="com.sist.web.groupchat.dto.GroupChatDTO" 
										 parameterType="com.sist.web.groupchat.dto.MessageSearchFilterDTO">
		SELECT * FROM p_group_msg 
		WHERE group_no = #{groupNo} 
		<if test="keyword != null and keyword != ''">
			AND content LIKE CONCAT('%', #{keyword}, '%') 
		</if>
		<if test="senderNickname != null and senderNickname != ''">
			AND sender_nickname LIKE CONCAT('%', #{senderNickname}, '%') 
		</if>
		<if test="startDate != null and endDate != null">
			AND sent_at BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY sent_at ASC		
	</select>
	<select id="selectMessagesAround" resultType="com.sist.web.groupchat.dto.GroupChatDTO" parameterType="hashmap">
		(
			SELECT * FROM (
				SELECT * FROM p_group_msg 
				WHERE group_no = #{groupNo} AND message_no &lt; #{messageNo} 
				ORDER BY message_no DESC 
				FETCH FIRST 10 ROWS ONLY 
			)
			ORDER BY message_no ASC
		)
		UNION ALL
		(
			SELECT * FROM p_group_msg 
			WHERE group_no = #{groupNo} AND message_no &gt;= #{messageNo} 
			ORDER BY message_no ASC 
			FETCH FIRST 11 ROWS ONLY
		)
	</select>
</mapper>