<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.group.mapper.GroupMapper">
	<insert id="insertGroupMember" parameterType="com.sist.web.group.dto.GroupMemberDTO">
		INSERT INTO p_group_member (group_no, user_no
		    <if test="role != null and role != ''">
		        , role
		    </if>
	    )
	    VALUES
	    (#{group_no}, #{user_no}
	    <if test="role != null and role != ''">
	        , #{role}
	    </if>
	    )
	</insert>
	<!-- insertGroup 작성 예정 -->
</mapper>