<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mypage.mapper.MypageMapper">
	<update id="updateMyPet" parameterType="com.sist.web.mypage.vo.PetVO">
		UPDATE P_PETS
		SET PET_NAME = #{pet_name},
		PET_TYPE = #{pet_type},
		PET_SUBTYPE = #{pet_subtype, jdbcType=VARCHAR},
		PET_AGE = #{pet_age, jdbcType=DATE},
		PET_WEIGHT = #{pet_weight, jdbcType=VARCHAR},
		PET_CHAR1 = #{pet_char1},
		PET_CHAR2 = #{pet_char2},
		PET_CHAR3 = #{pet_char3},
		PET_STATUS = #{pet_status}
		<if test="pet_profilepic != null">
			, PET_PROFILEPIC = #{pet_profilepic, jdbcType=VARCHAR}
		</if>
		WHERE PET_NO = #{pet_no}
	</update>
</mapper>